.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.mdl-grid {
  margin: 0 18%;
}

.demo-card-wide.mdl-card {
  width: 512px;
}

.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('./images/beard-coffee-cup-925786.jpg') center / cover;
}

.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.mdl-card {
  margin: 15% 25% 0 35%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.mdl-textfield {
  width: 63%;
}

.mdl-textfield__input {
  background-color: rgb(255, 255, 255);
}

#sendMessage {
  margin-left: 100%;
}

.username {
  margin-left: 10px;
}

.mdl-button .mdl-js-button .mdl-button--raised .mdl-js-ripple-effect {
  width: 40%;
  height: 30px;
  font-size: smaller;
}

.mdl-button--accent.mdl-button--accent {
  color: rgb(255, 64, 64);
}